.done {
  /* max-width: 200%; */
  /* float: right; */
}
form {
  display: inline-block;
}
.spanDone {
  color: red;
}

ul li {
  list-style: none;
}

#todo-container {
  background-color: grey;
  max-width: 70%;
  margin: auto;
}
#add-todo {
  max-width: 70%;
  margin: auto;
}
